.root {
    position: relative;
    margin-left: 100px;
}

.input {
    border:  1px solid rgba(0, 0, 0, 0.1);
    padding-top:  12px;
    padding-bottom:  12px;
    width: 400px;
 
    font-size: 16px;
    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
      
    }
}
